
<img src="../../img/ods_stickers.jpg">

## <center> [mlcourse.ai](https://mlcourse.ai) – открытый курс OpenDataScience по машинному обучению 

Автор материала: Юрий Кашницкий (@yorko в Slack ODS). Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [11]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("../../data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [6]:
print(data[data['sex'] == 'Male']['sex'].count())
print(data[data['sex'] == 'Female']['sex'].count())

21790
10771

**2. Каков средний возраст (признак *age*) женщин?**

In [15]:
data[data['sex'] == 'Female']['age'].agg(["mean", "std", "min", "max"])

mean    36.858230
std     14.013697
min     17.000000
max     90.000000
Name: age, dtype: float64

**3. Какова доля граждан Германии (признак *native-country*)?**

In [30]:
a = data[data['native-country'] == 'Germany']['native-country'].count()
b = data['native-country'].count()
print(a/b * 100, '%')

0.42074874850281013 %

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [24]:
data[data['salary'] == '>50K']['age'].agg(["mean", "std", "min", "max"])

mean    44.249841
std     10.519028
min     19.000000
max     90.000000
Name: age, dtype: float64

In [23]:
data[data['salary'] == '<=50K']['age'].agg(["mean", "std", "min", "max"])

mean    36.783738
std     14.020088
min     17.000000
max     90.000000
Name: age, dtype: float64

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [42]:
data[(data['salary'] == '>50K') & (~data['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']))]['education']

7             HS-grad
10       Some-college
27       Some-college
38       Some-college
55       Some-college
             ...
32510         HS-grad
32518         HS-grad
32519    Some-college
32557         HS-grad
32560         HS-grad
Name: education, Length: 3306, dtype: object

In [46]:
a = data[(data['salary'] == '>50K') & (data['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']))]['education'].count()
b = data[data['salary'] == '>50K']['education'].count()
print('Доля людей, которые получают больше 50К и имеют как минимум высшее образование')
print(a/b * 100, '%')

Доля людей, которые получают больше 50К и имеют как минимум высшее образование
57.83701058538452 %

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [51]:
# мой способ
races = data['race'].unique()

for race in races:
    print(race)
    print(data[data['race'] == race]['race'].describe(), '\n')

White
count     27816
unique        1
top       White
freq      27816
Name: race, dtype: object

Black
count      3124
unique        1
top       Black
freq       3124
Name: race, dtype: object

Asian-Pac-Islander
count                   1039
unique                     1
top       Asian-Pac-Islander
freq                    1039
Name: race, dtype: object

Amer-Indian-Eskimo
count                    311
unique                     1
top       Amer-Indian-Eskimo
freq                     311
Name: race, dtype: object

Other
count       271
unique        1
top       Other
freq        271
Name: race, dtype: object

In [102]:
# мой 2-ой способ с помощью groupby
data.groupby(by='race')['age'].describe()
# ну да, так лучше!

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,311.0,37.173633,12.447130,17.0,28.0,35.0,45.5,82.0
Asian-Pac-Islander,1039.0,37.746872,12.825133,17.0,28.0,36.0,45.0,90.0
Black,3124.0,37.767926,12.759290,17.0,28.0,36.0,46.0,90.0
Other,271.0,33.457565,11.538865,17.0,25.0,31.0,41.0,77.0
White,27816.0,38.769881,13.782306,17.0,28.0,37.0,48.0,90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [72]:
# мой способ
a = data[(data['marital-status'].str.startswith('Married')) & (data['salary'] == '>50K') & (data['sex'] == 'Male')]['marital-status'].count()
b = data[(data['marital-status'].str.startswith('Married'))  & (data['sex'] == 'Male')]['marital-status'].count()
print(f'Доля богатых мужчин среди женатых: {a/b * 100} %')

# просто ради интереса
c = data[(~data['marital-status'].str.startswith('Married')) & (data['salary'] == '>50K') & (data['sex'] == 'Male')]['marital-status'].count()
d = data[(~data['marital-status'].str.startswith('Married')) & (data['sex'] == 'Male')]['marital-status'].count()
print(f'Доля богатых мужчин среди холостых: {c/d * 100} %')

Доля богатых мужчин среди женатых: 44.05139945351156 %
Доля богатых мужчин среди холостых: 8.449509031397746 %

In [67]:
# GPT
# Определяем женатых и холостых мужчин
data['is_married'] = data['marital-status'].str.startswith('Married')

# Фильтруем только мужчин
men = data[data['sex'] == 'Male']

# Подсчитываем количество зарабатывающих более 50K
married_count = men[men['is_married'] & (men['salary'] == '>50K')].shape[0]
single_count = men[~men['is_married'] & (men['salary'] == '>50K')].shape[0]

# Подсчитываем общее количество женатых и холостых мужчин
total_married = men[men['is_married']].shape[0]
total_single = men[~men['is_married']].shape[0]

# Вычисляем долю
married_ratio = married_count / total_married if total_married > 0 else 0
single_ratio = single_count / total_single if total_single > 0 else 0

# Вывод результатов
print(f'Доля зарабатывающих более 50K среди женатых мужчин: {married_ratio:.2%}')
print(f'Доля зарабатывающих более 50K среди холостых мужчин: {single_ratio:.2%}')

if married_ratio > single_ratio:
    print('Среди женатых мужчин больше доля зарабатывающих более 50K.')
elif married_ratio < single_ratio:
    print('Среди холостых мужчин больше доля зарабатывающих более 50K.')
else:
    print('Доли зарабатывающих более 50K среди женатых и холостых мужчин равны.')

Доля зарабатывающих более 50K среди женатых мужчин: 44.05%
Доля зарабатывающих более 50K среди холостых мужчин: 8.45%
Среди женатых мужчин больше доля зарабатывающих более 50K.

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [89]:
# мое решение
a = data['hours-per-week'].max()
b = data[data['hours-per-week'].max() == data['hours-per-week']].shape[0]
c = data[(data['hours-per-week'].max() == data['hours-per-week']) & (data['salary'] == '>50K')].shape[0]
d = c/b

print(f'макс кол-во часов в неделю: {a}')
print(f'кол-во таких чуваков: {b}')
print(f'из них много зарабатывают только {d:.2%}')

макс кол-во часов в неделю: 99
кол-во таких чуваков: 85
из них много зарабатывают только 29.41%

In [97]:
# для тренировки таблиц сопряженности
from scipy.stats import chi2_contingency

data['hours-per-week_category'] = data['hours-per-week'].apply(lambda x: '>50' if x > 50 else '<=50')
crosstab_result = pd.crosstab(data['hours-per-week_category'], data['salary'])

In [ ]:
# Применим хи-квадрат
chi2, p, dof, expected = chi2_contingency(crosstab_result)

# Выводим результаты
print("Chi-squared statistic:", chi2)
print("p-value:", p)
print("Degrees of freedom:", dof)
print("Expected frequencies:\n", expected)

# Интерпретация результата
alpha = 0.05  # Уровень значимости
if p < alpha:
    print("Отвергаем нулевую гипотезу: существует связь между переменными.")
else:
    print("Не можем отвергнуть нулевую гипотезу: нет доказательств связи между переменными.")

Chi-squared statistic: 663.0017593812938
p-value: 3.3229769929862157e-146
Degrees of freedom: 1
Expected frequencies:
 [[21954.26921778  6963.73078222]
 [ 2765.73078222   877.26921778]]
Отвергаем нулевую гипотезу: существует связь между переменными.

In [87]:
# GPT
# Находим максимальное количество часов в неделю
max_hours = data['hours-per-week'].max()

# Подсчитываем количество людей, работающих это количество часов
people_working_max_hours = data[data['hours-per-week'] == max_hours]

# Количество людей, работающих максимальное количество часов
count_max_hours = people_working_max_hours.shape[0]

# Подсчитываем количество зарабатывающих более 50K среди них
count_high_income = people_working_max_hours[people_working_max_hours['sala'] == '>50K'].shape[0]

# Вычисляем процент зарабатывающих более 50K
percentage_high_income = (count_high_income / count_max_hours * 100) if count_max_hours > 0 else 0

# Вывод результатов
print(f'Mаксимальное количество часов в неделю: {max_hours}')
print(f'Количество людей, работающих {max_hours} часов в неделю: {count_max_hours}')
print(f'Процент зарабатывающих более 50K среди них: {percentage_high_income:.2f}%')

Mаксимальное количество часов в неделю: 99
Количество людей, работающих 99 часов в неделю: 85
Процент зарабатывающих более 50K среди них: 29.41%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [100]:
big = data[data['salary'] == '>50K']
small = data[data['salary'] == '<=50K']
print('Среднее время работы по странам среди богатых\n', big.groupby(by='native-country')['hours-per-week'].mean())
print('\n\nСреднее время работы по странам среди бедных', small.groupby(by='native-country')['hours-per-week'].mean())

Среднее время работы по странам среди богатых
 native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64


Среднее время работы по странам среди бедных native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64